<div class="md-padding" ng-controller="ConfigurationCtrl as vm">
    <md-toolbar class="site-content-toolbar">
        <h2 class="md-toolbar-item md-breadcrumb md-headline">
      <span class="md-padding">{{vm.title}}</span>
    </h2>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content layout-gt-sm="column" layout-padding>
        <div>
            <md-input-container>
                <label>Section</label>
                <input ng-model="user.section">
            </md-input-container>
            <md-input-container>
                <label>Weightage</label>
                <input ng-model="user.weightage">
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Add">
                +
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Add">
                -
            </md-button>
        </div>
        <div>
            <md-input-container>
                <label>Section</label>
                <input ng-model="user.section">
            </md-input-container>
            <md-input-container>
                <label>Weightage</label>
                <input ng-model="user.weightage">
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Add">
                +
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Add">
                -
            </md-button>
        </div>
        <div>
            <md-input-container>
                <label>Section</label>
                <input ng-model="user.section">
            </md-input-container>
            <md-input-container>
                <label>Weightage</label>
                <input ng-model="user.weightage">
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Add">
                +
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Add">
                -
            </md-button>
        </div>
        <div>
            <md-input-container>
                <label>Section</label>
                <input ng-model="user.section">
            </md-input-container>
            <md-input-container>
                <label>Weightage</label>
                <input ng-model="user.weightage">
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Add">
                +
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Add">
                -
            </md-button>
        </div>
        <div>
            <md-input-container>
                <label>Section</label>
                <input ng-model="user.section">
            </md-input-container>
            <md-input-container>
                <label>Weightage</label>
                <input ng-model="user.weightage">
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Add">
                +
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Add">
                -
            </md-button>
        </div>
        <div>
            <md-button class="md-raised md-primary">Save</md-button>
        </div>
    </md-content>
    </md-card>
</div>
